
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap')

*{
margin: 0;
padding: 0;
}

body {
    background-color: rgb(142, 178, 255);
    font-family:;
    padding: 0;
    margin: 0;
}

li, a, button::before{
    color: rgb(255, 215, 142);
    text-shadow: 2px 2px 3px rgb(71, 98, 187);
    text-decoration: none;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    transition: all 0.3 ease 0s;  
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

li :hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(71, 98, 187);
    text-decoration: none;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    padding: 9px;
}